html, body {
  background-color: #FFFFFF;
  color: #464646;
  font-size: 16px;
  font-family: 'Inconsolata', monospace; }

h1, h2, h3 {
  color: #464646;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: .5em;
  margin-bottom: .2em;
  line-height: 1.2; }
  h1::before, h1::after, h2::before, h2::after, h3::before, h3::after {
    content: "##"; }

a {
  text-decoration: none;
  color: #0000ee; }
  a:hover {
    text-decoration: underline; }

p {
  line-height: 1.2; }

img {
  max-width: 100%;
  height: auto;
  margin: 1em;
  margin-left: 0; }

article {
  margin-bottom: 2em; }

#wrapper {
  background-color: #FFFFFF;
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em; }

#container {
  padding: 2em;
  padding-top: 1em; }

#header {
  background-color: #FFFFFF;
  padding: 1em;
  padding-left: 2em;
  height: 2em; }
  #header #branding {
    margin-bottom: 1em;
    margin-top: -.25em;
    font-size: 1em;
    font-family: 'Inconsolata', monospace; }
    #header #branding a:hover {
      text-decoration: none; }
    #header #branding::before, #header #branding::after {
      content: "======================"; }
  #header #menu {
    display: none; }
  #header li {
    float: right;
    margin-bottom: 1em;
    margin-left: 1em; }
  #header a {
    color: #464646; }

#searchform #s {
  border: 1px solid #464646; }

.search .entry-title, .archive .entry-title {
  color: #FFFFFF;
  margin-bottom: 1em; }

.nav-next {
  text-align: right;
  margin-top: -1em; }

#search {
  text-align: center;
  padding-top: 1em;
  border-top: 1px solid #FFFFFF;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em; }

#copyright {
  font-size: 14px;
  text-align: center;
  padding-bottom: 1em; }

.entry-content {
  margin-top: 1em;
  margin-bottom: 2em; }
  .entry-content p {
    margin-bottom: 1em; }

.entry-meta {
  margin-bottom: .5em;
  font-size: .75em; }

.entry-footer {
  font-size: .75em; }

.comments-title {
  color: #0000ee;
  font-weight: bold;
  margin-top: .5em;
  font-size: 14px; }

.comment-form-comment label {
  display: block; }
.comment-form-comment #comment {
  max-width: 500px;
  width: 100%;
  font-size: 1em;
  font-family: inherit; }

#comments-list > ul {
  padding-top: 2em;
  padding-bottom: 2em; }
#comments-list li {
  display: block; }
  #comments-list li .comment-form-comment {
    margin-top: 1em; }
  #comments-list li #respond {
    margin-bottom: 1em; }
  #comments-list li #commentform {
    margin-left: 2em; }
#comments-list .comment-author, #comments-list .comment-meta {
  display: inline;
  font-size: .75em;
  border-bottom: 1px solid #464646; }
#comments-list .comment-meta a {
  color: #464646; }
#comments-list .comment-meta::before {
  content: "-"; }
#comments-list p {
  margin-top: .5em; }
#comments-list .reply {
  margin-bottom: 1em;
  font-size: 14px;
  margin-top: .5em;
  text-decoration: underline; }
#comments-list .says {
  display: none; }
#comments-list .depth-1 {
  margin-left: 0;
  margin-bottom: 2em; }
#comments-list .depth-2 {
  margin-left: 2em; }
#comments-list .depth-3 {
  margin-left: 4em; }

#commentform .logged-in-as {
  display: none; }

#reply-title {
  font-size: 0; }
  #reply-title small {
    font-size: 14px; }

/**
 * Login styles.
 */
.login {
  max-width: 900px;
  width: 100%;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-top: 3em solid #FFFFFF;
  margin-top: 2em; }
  .login h1 a {
    background: none;
    text-indent: 0;
    width: 100%;
    margin-top: -2em;
    color: #FFFFFF;
    font-family: 'Francois One', sans-serif;
    font-weight: bold; }
    .login h1 a:hover {
      text-decoration: none;
      color: #FFFFFF; }
  .login .message {
    border: none;
    box-shadow: none; }
  .login .button {
    background: none !important;
    color: #0000ee !important;
    border: none !important;
    text-shadow: none !important;
    box-shadow: none !important; }
    .login .button:hover {
      text-decoration: underline; }

#login {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 2em; }

#loginform {
  background: #FFFFFF;
  box-shadow: none; }

@media (max-width: 800px) {
  #wrapper {
    margin: 0; }

  #header {
    height: auto; }
    #header #branding {
      float: none;
      font-size: 1.5em;
      text-align: center; }
    #header ul {
      overflow: hidden;
      text-align: center; }
    #header li {
      float: none;
      display: inline; }

  .depth-2 {
    margin-left: 1em !important; }

  .depth-3 {
    margin-left: 2em !important; } }

/*# sourceMappingURL=multithreaded.css.map */
