$site_width : 900px;

$margin_s : 1em;
$margin_m : 2em;
$margin_l : 3em;

$text_color : #4a4a4a;
$link_color : green;

$site_bg: #FFFFFF;
$content_bg: #dedede;
$content_bg_dark: #a0a0a0;
$logo_color: #FFFFFF;
$text_color: #464646;
$text_color_dark: #8e3b3d;
$link_color: #8e3b3d;

$site_width: 900px;

$margin_s: 1em;
$margin_m: 2em;
$margin_l: 3em;

html, body {
	background-color: $site_bg;
	color: $text_color;
	font-size: 17px;
	font-family: 'Inconsolata', monospace;
}

h1, h2, h3 {
	color: $link_color;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: .5em;
	margin-bottom: .2em;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: $link_color;

	&:hover {
		text-decoration: underline;
	}
}

p {
	line-height: 1.4;
}

#wrapper {
	background-color: $content_bg;
	max-width: $site_width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

#container {
	padding: $margin_m;
	padding-top: $margin_s;
}

#header {
	background-color: $content_bg_dark;
	padding: $margin_s;
	height: 1em;

	#branding {
		float: left;
		margin-bottom: $margin_s;
		margin-top: -.25em;
		font-size: 2em;
		font-family: 'Francois One', sans-serif;
		a:hover {
			text-decoration: none;
		}
	}

	li {
		float: right;
		margin-bottom: $margin_s;
		margin-left: $margin_s;
	}

	a {
		color: $logo_color;
	}
}

article {
	margin-bottom: $margin_m;
}

.comments-title {
	color: $link_color;
	font-weight: bold;
}

.entry-content {
	margin-top: $margin_s;
	margin-bottom: $margin_m;

	p {
		margin-bottom: $margin_s;
	}
}

.entry-meta {
	margin-bottom: $margin_s;
	font-size: .75em;
}

.entry-footer {
	font-size: .75em;
}

.comment-form-comment {
	label {
		display: block;
	}

	#comment {
		max-width: 500px;
		width: 100%;
		font-size: 1em;
		font-family: inherit;
	}
}

#comments-list {

	> ul {
		padding-top: $margin_m;
		padding-bottom: $margin_m;
	}

	li {
		display: block;

		.comment-form-comment {
			margin-top: $margin_s;
		}
	}

	.comment-author, .comment-meta {
		display: inline;
		font-size: .75em;
		border-bottom: 1px solid $text_color;
	}

	.comment-meta {
		padding-left: .25em;
		a {
			color: $text_color;
		}
	}

	p :first-of-type {
		margin-top: $margin_m;
	}

	.reply {
		margin-bottom: $margin_s;
	}

	.depth-1 {
		margin-left: 0;
		margin-bottom: $margin_m;
	}

	.depth-2 {
		margin-left: $margin_m;
	}

	.depth-3 {
		margin-left: 2 * $margin_m;
	}
}