$site_width : 900px;

$margin_s : 1em;
$margin_m : 2em;
$margin_l : 3em;

$text_color : #4a4a4a;
$link_color : green;

$site_bg: #FFFFFF;
$content_bg: #dedede;
$content_bg_dark: #a0a0a0;
$logo_color: #FFFFFF;
$text_color: #464646;
$text_color_dark: #8e3b3d;
$link_color: #8e3b3d;

$site_width: 900px;

$margin_s: 1em;
$margin_m: 2em;
$margin_l: 3em;

html, body {
	background-color: $site_bg;
	color: $text_color;
	font-size: 17px;
	font-family: 'Inconsolata', monospace;
}

h1, h2, h3 {
	color: $link_color;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: .5em;
	margin-bottom: .2em;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: $link_color;

	&:hover {
		text-decoration: underline;
	}
}

p {
	line-height: 1.4;
}

img {
	max-width: 100%;
	height: auto;
	margin: $margin_s;
	margin-left: 0;
}

article {
	margin-bottom: $margin_m;
}


#wrapper {
	background-color: $content_bg;
	max-width: $site_width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

#container {
	padding: $margin_m;
	padding-top: $margin_s;
}

#header {
	background-color: $content_bg_dark;
	padding: $margin_s;
	padding-left: $margin_m;
	height: 1em;

	#branding {
		float: left;
		margin-bottom: $margin_s;
		margin-top: -.25em;
		font-size: 2em;
		font-family: 'Francois One', sans-serif;
		a:hover {
			text-decoration: none;
		}
	}

	li {
		float: right;
		margin-bottom: $margin_s;
		margin-left: $margin_s;
	}

	a {
		color: $logo_color;
	}
}

.search, .archive {
	.entry-title {
		color: $content_bg_dark;
		margin-bottom: $margin_s;
	}
}


.nav-next {
	text-align: right;
	margin-top: -1em;
}

#search {
	text-align: center;
	padding-top: $margin_s;
	border-top: 1px solid $content_bg_dark;
	margin-left: $margin_m;
	margin-right: $margin_m;
	margin-bottom: $margin_s;
}

#copyright {
	font-size: 14px;
	text-align: center;
	padding-bottom: $margin_s;
}

.entry-content {
	margin-top: $margin_s;
	margin-bottom: $margin_m;

	p {
		margin-bottom: $margin_s;
	}
}

.entry-meta {
	margin-bottom: .5em;
	font-size: .75em;
}

.entry-footer {
	font-size: .75em;
}

.comments-title {
	color: $link_color;
	font-weight: bold;
	margin-top: .5em;
	font-size: 14px;
}

.comment-form-comment {
	label {
		display: block;
	}

	#comment {
		max-width: 500px;
		width: 100%;
		font-size: 1em;
		font-family: inherit;
	}
}

#comments-list {

	> ul {
		padding-top: $margin_m;
		padding-bottom: $margin_m;
	}

	li {
		display: block;

		.comment-form-comment {
			margin-top: $margin_s;
		}

		#respond {
			margin-bottom: $margin_s;
		}

		#commentform {
			margin-left: $margin_m;
		}
	}

	.comment-author, .comment-meta {
		display: inline;
		font-size: .75em;
		border-bottom: 1px solid $text_color;
	}

	.comment-meta {
		a {
			color: $text_color;
		}

		&::before {
			content: "-";
		}
	}

	p {
		margin-top: .5em;
	}

	.reply {
		margin-bottom: $margin_s;
		font-size: 14px;
		margin-top: .5em;
		text-decoration: underline;
	}

	.says {
		display: none;
	}

	.depth-1 {
		margin-left: 0;
		margin-bottom: $margin_m;
	}

	.depth-2 {
		margin-left: $margin_m;
	}

	.depth-3 {
		margin-left: 2 * $margin_m;
	}
}

#commentform {
	.logged-in-as {
		display: none;
	}
}

#reply-title {
	font-size: 0;

	small {
		font-size: 14px;
	}
}

/**
 * Login styles.
 */

.login {
	max-width: $site_width;
	width: 100%;
	background: $content_bg;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	border-top: 3em solid $content_bg_dark;
	margin-top: $margin_m;

	h1 a {
		background: none;
		text-indent: 0;
		width: 100%;
		margin-top: -2em;
		color: #FFFFFF;
		font-family: 'Francois One', sans-serif;
		font-weight: bold;
		&:hover {
			text-decoration: none;
			color: #FFFFFF;
		}
	}

	.message {
		border: none;
		box-shadow: none;
	}

	.button {
		background: none!important;
		color: $link_color!important;
		border: none!important;
		text-shadow: none!important;
		box-shadow: none!important;

		&:hover {
			text-decoration: underline;
		}
	}
}

#login {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: $margin-m;
}

#loginform {
	background: $content_bg;
	box-shadow: none;
}

@media (max-width: 800px) {
	#wrapper {
		margin: 0;
	}

	#header {
		height: auto;

		#branding {
			float: none;
			font-size: 1.5em;
			text-align: center;
		}

		ul {
			overflow: hidden;
			text-align: center;
		}

		li {
			float: none;
			display: inline;
		}
	}

	.depth-2 {
		margin-left: $margin_s!important;
	}

	.depth-3 {
		margin-left: 2 * $margin_s!important;
	}

}
